{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
  scroll-behavior: smooth;
}
.navbar {
  position: sticky;
  top: 0;
  background: #007acc;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-link.active {
  border-bottom: 2px solid yellow;
}

.resume-btn{
  margin-left: 10px;
  padding: 8px 14px;
  background: yellow;
  color: #007acc;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}



.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
}


 
  
.hero {
  padding: 4rem 2rem;
  text-align: center;
  background: #e6f2ff;
}

section {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
}

section h2 {
  margin-bottom: 1rem;
  color: #007acc;
}
.skill-box span {
  display: inline-block;
  background: #007acc;
  color: white;
  padding: 8px 14px;
  margin: 6px;
  border-radius: 20px;
  font-size: 20px;
}

.project {
  background: white;
  padding: 1.2rem;
  margin: 1rem 0;
  border-radius: 8px;
}


footer {
  text-align: center;
  padding: 1rem;
  background: #ddd;
}



@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #007acc;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }
  
.nav-link,
  .resume-btn {
    margin: 12px;
  }
}








